body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}

ul {
    list-style: none;
    justify-content: center;
    background: #808080;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}

ul li a:hover {
    background:black;
    color: #0048ff;
    border-radius: 5px;
}

aside {
    background: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}

main {
    background: white;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 8px white;
}

footer {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
}